language: java
jdk:
  - openjdk8

branches:
  only:
    - master
    -
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

before_install:
  - chmod -x gradlew

script: "./gradlew clean build"

notifications:
  email:
    recipients:
      - krpw11235788@mail.com